.footerRow {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #eee;
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: #000;
}

.links {
  display: flex;
  width: 33%;
}

.links img {
  width: 120px;
  height: 80px;
  margin-top: 6px;
  border-radius: 10px;
}

.links .text {
  margin: 35px 0 0 10px;
  font-weight: bold;
}

.mittel {
  display: flex;
  width: 33%;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 20px;
}

.mittel a {
  text-decoration: none;
  color: #000;
}

.rechts {
  display: flex;
  width: 33%;
  flex-direction: column;
  margin-top: 10px;
}

.rechts h6 {
  margin: 0;
}

.rechts a {
  margin-right: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

@media (max-width: 820px) {
  .footerRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 620px) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links .text {
    margin: 5px 20px;
  }
}
